{% extends "base.html" %}

{% block content %}
    <section class=book-card>
      <p>
      {% for book in books %}  
        <div><br>
        <a href="/books/{{books.index(book)}}">
        <img class="book-image" src="{{ book.image }}" width="220" height="350"/>
        </a></p>
        <p class="book-text">
        <a href="/books/{{books.index(book)}}"><b>{{ book.title }}</b></a> 
        <br>
        <i>by</i>
        <br>
        {{ book.author }}
        <br>
        <b>Genre: </b>{{ book.genre }}
      {% endfor %}
        <br></div>
      </p>
    </section>
{% endblock %}