{% extends "base.html" %}

{% block content %}
    <h3>Add book to catalogue</h3>
    <section class="book-form">

    <form action="/books" method="post">
      <label for="title">Book Title</label>
      <input type="text" name="title" id="title" placeholder="Enter book title">
      <label for="author">Author</label>
      <input type="text" name="author" id="author" placeholder="Enter author">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre" placeholder="Enter genre">
      <input type="submit" value="Add">
    </form>
    </section>
{% endblock %}