{% extends "base.html" %}

{% block content %}  
<section>
    <br>
    <a href="{{ book.link }}" target="_blank">
    <img class="book-image" src="{{ book.image }}" width="220" height="350"/></a>
    <div class="book-text">
    <h3><a href="{{ book.link }}" target="_blank">{{ book.title }}</a></h3>
    <p><em>by</em>
    <br>
    {{ book.author }}
    <br>
    <br>
    Genre: {{ book.genre }}
    </p></div>
</section>
<section class="delete">
    <form action="/books/{{ index }}/delete" method="post">
        <input style="height:30px; width:50vh" type="submit" value="Delete">
    </form>
</section>
{% endblock %}