body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #000;
    display: flex;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

#menu {
    position: absolute;
    right: 10%;
    top: 0.5%;
}

#glass {
    position: absolute;
    right: 5%;
    top: 4%;
}

a {
    color: #1d70b8;
}

img {
    size: 50px 70px;
}

.section1 {
    background: #1d70b8;
}

.section2 {
    background: #f3f2f1;
    display: flex;
}

.search {
    margin: 0px 30px;
}

#list {
    list-style: none;
    display: flex;
}

footer {
    background: #f3f2f1;
}

footer a {
    color: gray;
}

#footer-links > li {
    display: inline-block;
    color: #0b0c0c;
    font-size: 0.8rem;
}

#footer-links {
    list-style: none;
}

#logo {
    position: absolute;
    right: 5%;
    bottom: 0%;
}