body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #000;
    display: flex
}

header a {
    color: white;
    text-decoration: none;
}

img {
    size: 50px 70px
}

.section1 {
    background: #1d70b8;
}

.section2 {
    background: #f3f2f1;
    display: flex;
}

.search {
    margin: 0px 35px;
}

ul {
    list-style: none;
    display: flex
}
