html *{
  background-image: linear-gradient( 291.7deg,  #ff8686 21.5%, rgba(249,141,255,1) 93.1% );
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;  
  color: white
}

.page {
  
}


