body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

header {
    color: #00acac;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #04abac;
}

li > a {
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

#homeimage {
    display: flex;
    justify-content: center;
}

footer {
    color: #00acac;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* .book-card {
    display: grid;
    /* flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column; */
} */

.book-text {
    text-align: center;
    color: #014040;
}

h3 {
    color: #04abac;
    text-align: center;
    margin-top: 40px;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

form {
    display: flex;
    flex-direction: column;
}

.book-form {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    margin-left: 5px;
}